{% extends 'base.html' %}

<br>
<br>
{% block content %}
<style>
    .widthx {
        width: 10px;
    }
</style>

<div class=“container”>
    <div class="container">{{phone}}
        <!-- <table class="table table-striped">
            <thead>
                <th scope="col">Summary</th>
            </thead>
            <tbody>
                {% for number in phone %}
                <tr>
                    <td class="bg-primary">{{ number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> -->
        
    </div>
    {% endblock %}
</div>